<ion-content no-padding>
  <!-- <img [src]="img" *ngIf="toggleImg" width="100%" height="100%"/>
  <div class="ex1">
    <div class="dont">{{ wordsArr[0] }}</div>
    <div class="tell">{{ wordsArr[1] }}</div>
    <div class="people">{{ wordsArr[2] }}</div>
    <div class="your">{{ wordsArr[3] }}</div>
    <div class="dreams">{{ wordsArr[4] }}</div>
    <div class="show">{{ wordsArr[5] }}</div>
    <div class="them">{{ wordsArr[6] }}</div>
  </div> -->
  <!-- <img [src]="img" *ngIf="toggleImg" width="100%" height="100%"/>
  <div class="ex2">
    <div class="dont">{{ wordsArr[0] }}</div>
    <div class="look">{{ wordsArr[1] }}</div>
    <div class="back">{{ wordsArr[2] }}</div>
    <div class="youre">{{ wordsArr[3] }}</div>
    <div class="not">{{ wordsArr[4] }}</div>
    <div class="going">{{ wordsArr[5] }}</div>
    <div class="that">{{ wordsArr[6] }}</div>
    <div class="way">{{ wordsArr[7] }}</div>

  </div>
  <div class="ex3">    
    <div class="a">{{ wordsArr[0] }}</div>
    <div class="far">{{ wordsArr[1] }}</div>
    <div class="off">{{ wordsArr[2] }}</div>
    <div class="memory">{{ wordsArr[3] }}</div>
    <div class="like">{{ wordsArr[4] }}</div>
    <div class="a">{{ wordsArr[5] }}</div>
    <div class="scattered">{{ wordsArr[6] }}</div>
    <div class="dream">{{ wordsArr[7] }}</div>
    <div class="i">{{ wordsArr[8] }}</div>
    <div class="want">{{ wordsArr[9] }}</div>
    <div class="to">{{ wordsArr[10] }}</div>
    <div class="line">{{ wordsArr[11] }}</div>
    <div class="the">{{ wordsArr[12] }}</div>
    <div class="pieces">{{ wordsArr[13] }}</div>
    <div class="up...">{{ wordsArr[14] }}</div>
    <div class="yours">{{ wordsArr[15] }}</div>
    <div class="and">{{ wordsArr[16] }}</div>
    <div class="mine">{{ wordsArr[17] }}</div>
  </div> -->
  <p>{{ words }}</p>
</ion-content>
  

<ion-footer>
  <ion-toolbar>
    <ion-item>
        <ion-label>Toggle Picture</ion-label>
        <ion-toggle [(ngModel)]="toggleImg" (ionChange)="notify()"></ion-toggle>
    </ion-item>
  </ion-toolbar>    
</ion-footer>