<ion-content no-padding>
    <!-- You, me, nobody is gonna hit as hard as life -->
   <img [src]="img" *ngIf="toggleImg" width="100%" height="100%"/>
  <div class="ex1" *ngIf="viewEx1">
    <div class="you">{{ wordsArr[0] }}</div>
    <div class="me">{{ wordsArr[1] }}</div>
    <div class="nobody">{{ wordsArr[2] }}</div>
    <div class="is">{{ wordsArr[3] }}</div>
    <div class="gonna">{{ wordsArr[4] }}</div>
    <div class="hit">{{ wordsArr[5] }}</div>
    <div class="as">{{ wordsArr[6] }}</div>
    <div class="hard">{{ wordsArr[7] }}</div>
    <div class="as2">{{ wordsArr[8] }}</div>
    <div class="life">{{ wordsArr[9] }}</div>
  </div>
<!-- Please use the wireless Lavalier Microphone when you present. Thank you! -->
  <div class="ex2" *ngIf="viewEx2">
    <div class="please">{{ wordsArr[0] }}</div>
    <div class="use">{{ wordsArr[1] }}</div>
    <div class="back">{{ wordsArr[2] }}</div>
    <div class="the">{{ wordsArr[3] }}</div>
    <div class="wireless">{{ wordsArr[4] }}</div>
    <div class="lavalier">{{ wordsArr[5] }}</div>
    <div class="microphone">{{ wordsArr[6] }}</div>
    <div class="when">{{ wordsArr[7] }}</div>
    <div class="you">{{ wordsArr[8] }}</div>
    <div class="present">{{ wordsArr[9] }}</div>
    <div class="thank">{{ wordsArr[10] }}</div>
    <div class="you2">{{ wordsArr[11] }}</div>

  </div>
  <!-- A scattered dream that's like a far-off memory a far-off memory that's like a scattered dream -->
  <div class="ex3" *ngIf="viewEx3">    
    <div class="a">{{ wordsArr[0] }}</div>
    <div class="scattered">{{ wordsArr[1] }}</div>
    <div class="dream">{{ wordsArr[2] }}</div>
    <div class="thats">{{ wordsArr[3] }}</div>
    <div class="like">{{ wordsArr[4] }}</div>
    <div class="a">{{ wordsArr[5] }}</div>
    <div class="far-off">{{ wordsArr[6] }}</div>
    <div class="memory">{{ wordsArr[7] }}</div>
    <div class="a2">{{ wordsArr[8] }}</div>
    <div class="far-off2">{{ wordsArr[9] }}</div>
    <div class="memory2">{{ wordsArr[10] }}</div>
    <div class="thats2">{{ wordsArr[11] }}</div>
    <div class="like2">{{ wordsArr[12] }}</div>
    <div class="a2">{{ wordsArr[13] }}</div>
    <div class="scattered2">{{ wordsArr[14] }}</div>
    <div class="dream2">{{ wordsArr[15] }}</div>
  </div>
</ion-content>
  

<ion-footer>
  <ion-toolbar>
    <ion-item>
        <ion-label>Toggle Picture</ion-label>
        <ion-toggle [(ngModel)]="toggleImg" (ionChange)="notify()"></ion-toggle>
    </ion-item>
  </ion-toolbar>    
</ion-footer>