page-home {

}

#inputImage {
    max-width: 80px;
    max-height: 100px;
}


ion-icon {
    font-size: 40px;
}

#aperture {
    text-align: center;
}

.scroll-content {
    overflow-y: hidden;
}

#read {
    text-align: right;
}