page-home {

}

ion-icon {
    font-size: 40px;
}

ion-content {
    background-image: url('https://fontmeme.com/permalink/180218/153bc67e4c092228020c98ea94d9f516.png');
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: center; 
}

#aperture {
    text-align: center;
}

#read {
    position: absolute;
    top: 90%;
    left: 65%;
}


.scroll-content {
    overflow-y: hidden;
}

#pic-taken {
    display: block;
    margin-left: auto;
    margin-right: auto;
}